* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  background-image: linear-gradient(
    to bottom right,
    rgb(119, 174, 198),
    rgb(149, 92, 168),
    rgb(64, 165, 199)
  );
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}
#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}
button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 20px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}
button:hover {
  transform: scale(1.1);
}
button#equal {
  height: 130px;
}

.calculator {
  background-color: #fff;
}
.calculator #display {
  color: #0a1e23;
}
.calculator button#clear {
  background-color: #ffd5d8;
  color: #fc4552;
}
.calculator button.btn-number {
  background-color: #c3eaff;
  color: #000;
}
.calculator button.btn-operator {
  background-color: #ffd0fd;
  color: #f967f3;
}
.calculator button.btn-equal {
  background-color: #adf9e7;
  color: #000;
}
/* dark theme */
.calculator {
  background-color: #2b70d8;
}
.calculator #display {
  color: #f8fafd;
}
.calculator button#clear {
  background-color: #2d191e;
  color: #bd3740;
}
.calculator button.btn-number {
  background-color: #1b2f38;
  color: #f8fafb;
}
.calculator button.btn-operator {
  background-color: #2e1f39;
  color: #aa00a4;
}
.calculator button.btn-equal {
  background-color: #223323;
}
.head {
  color: white;
  text-align: center;
  margin: auto;
  text-shadow: 2px 2px 9px rgb(7, 168, 133);
}
